.footer-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1.6rem;
  font-size: 1.3rem;
  color: var(--dark-grayish-blue);
  background-color: #fff;
  height: 3.5rem;
  transition: 0.5s ease-in;
}

.footer > div{
  cursor: pointer;
}

.footer-filters{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.footer-filters p:first-of-type {
  color: var(--bright-blue);
}

.footer-filters.desktop > p {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
}

.footer-filters.mobile {
  display: none;
  height: 2rem;
  padding: 0 1.6rem;
  background-color: #fff;
  color: var(--dark-grayish-blue);
  margin-top: 1.2rem;
  font-size: 1.1rem;
  width: auto;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
  transition: 0.5s ease-in;
}

.footer p:hover {
  transition: 0.3s ease-in;
  color: var(--very-dark-grayish-blue-dark1);
}

.footer p {
  outline: none;
}

.footer p:focus-visible {
  outline: 3px solid var(--bright-blue);
  z-index: 1;
}

.footer-filters.desktop.all p:nth-child(1) {
  background-color: var(--light-grayish-blue-light);
  transition: 0.3s ease-in;
}

.footer-filters.desktop.active p:nth-child(2), 
.footer-filters.desktop.completed p:nth-child(3) {
  background-color: var(--light-grayish-blue-light);
  color: var(--very-dark-desaturated-blue);
  transition: 0.3s ease-in;
}

.footer-drag-drop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4rem 2rem;
  font-size: 1.2rem;
  color: var(--dark-grayish-blue);
}

/* Dark Mode */

.app.dark .footer-inner {
  background-color: hsl(235, 24%, 19%);
}

.app.dark .footer p:hover{
  transition: 0.5s ease-in;
  color: #fff;
}

.app.dark .footer-filters.desktop.all p:nth-child(1),
.app.dark .footer-filters.desktop.active p:nth-child(2), 
.app.dark .footer-filters.desktop.completed p:nth-child(3) {
  background-color: var(--bright-blue);
  color: #fff;
  transition: 0.3s ease-in;
}

/* Media Queries */

@media (max-width: 900px) {

  .footer-inner {
    height: 1.75rem;
    padding: 0 1rem;
    font-size: 0.85rem;
  }

  .footer-filters.desktop {
    display: none;
  }

  .footer-filters.mobile{
    display: flex;
  }

  .app.dark .footer-filters.mobile {
    background-color: var(--very-dark-desaturated-blue);
  }

  .footer-filters.mobile p {
    color: var(--dark-grayish-blue);
  }

  .footer-filters.mobile.all p:nth-child(1),
  .footer-filters.mobile.active p:nth-child(2), 
  .footer-filters.mobile.completed p:nth-child(3) {
    color: var(--bright-blue)
  }

  .footer-drag-drop {
    font-size: 0.85rem;
    padding: 2rem 0.75rem;
  }
  
}