header {
  margin-bottom: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: #fff;
  font-size: 2.5rem;
}

header div { 
  outline: none;
}

header div:focus-visible{
  outline: 3px solid var(--bright-blue);
}

header img {
  cursor: pointer;
}

@media (max-width: 450px) {
  header {
  margin-bottom: 2rem;
  }

  header h1 {
    font-size: 1.5rem;
  }

  header div {
    height: 20px;
    width: 20px;
  }

  header img {
    width: 100%;
  }
}