.todo-list {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-top: 2rem;
}

.todo-list {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.todo-item:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.todo-item {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #fff;
  padding: 1.6rem;
  border-bottom: 2px solid var(--dark-grayish-blue);
  column-gap: 2.25rem; 
  transition: 0.5s ease-in;
}

.todo-item input[type='checkbox'] {
  visibility: hidden;
}

.todo-item p {  
  cursor: pointer;
  outline: none;
}

.todo-item p:focus-visible {
  outline: 3px solid var(--bright-blue);
}

.todo-item.completed p {
  text-decoration: line-through;
  color: var(--light-grayish-blue-dark2)
}

.todo-item span::before {
  content: '';
  position: absolute;
  top: calc(50% - 17.8px);
  left: 1.5rem;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 2px solid var(--dark-grayish-blue);
  cursor: pointer;
  background: #fff;
  z-index: 2;
  transition: 0.5s ease-in;
}

.todo-item.completed span::before{
  transition: 0.5s ease-in;
  content: '✓';
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background: var(--check-bg);
}

.todo-item span::after {
  content: '';
  position: absolute;
  top: calc(50% - 20.8px);
  left: 21px;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  background: var(--check-bg);
  display: none;
}

label:hover span::after {
  display: block;
}

label:hover span::before {
  border: none;
}

.todo-item button{
  opacity: 0;
  position: absolute;
  top: calc(50% - 10px);
  right: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: inherit;
  display: block;
}

.todo-item img.cross {
  display: block;
  border: none;
  outline: none;
}

.todo-item:hover button {
  opacity: 1;
}

.todo-item button:focus-visible{
  opacity: 1;
  outline: 2px solid var(--bright-blue);
}


  
/* Dark Mode */

.app.dark .todo-list {
  background-color: var(--very-dark-desaturated-blue);
}

.app.dark .todo-item {
  background-color: var(--very-dark-desaturated-blue);
}

.app.dark .todo-item.completed p {
  color: var(--very-dark-grayish-blue-dark1);
}

.app.dark .todo-item span::before {
  background: var(--very-dark-desaturated-blue);
}

.app.dark .todo-item.completed span::before {
  background: var(--check-bg)
}

.app.dark .todo-item span::after {
  background: var(--check-bg);
}

/* Media Queries */

@media (max-width: 900px) {
  
  .todo-item button {
    display: block;
    position: absolute;
    top: calc(50% - 10px);
    right: 1rem;
    cursor: pointer;
  }
}

@media (max-width: 450px) {
  .todo-list {
    margin-top: 1.4rem;
  }

  .todo-item {
    padding: 0.55rem 0.4rem;
    column-gap: 1.6rem;
  }

  .todo-item span::before {
    height: 22px;
    width: 22px;
    top: calc(50% - 12.3px);
    left: 1rem;
  }
  
  .todo-item span::after {
    height: 24px;
    width: 24px;
    top: calc(50% - 13.5px);
    left: 15px;
  }

  .todo-item button {
    height: 14px;
    width: 14px;
    top: calc(50% - 7px);
    opacity: 1;
  }

  .todo-item img.cross {
    width: 100%;
  }

}
