@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import './Variables.css';


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  font-size: inherit;
  font-family: inherit;
  outline: none;
  border: none;
  color: inherit;
  background-color: inherit;
}

.app {
  min-height: 100vh;
  transition: 0.5s ease-in;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.4rem;
}

.app.light {
  background : var(--light-grayish-blue-light) url('./images/bg-desktop-light.jpg') no-repeat;
  background-size: 100% 300px;
}

.app.dark {
  background : var(--very-dark-blue) url('./images/bg-desktop-dark.jpg') no-repeat;
  background-size: 100% 300px;
  color: var(--light-grayish-blue-dark2);
}

.container {
  width: 45%;
  margin: 0 auto;
  min-width: 740px;
  padding-top: 4.5rem;
}

@media (max-width: 900px) {

  .container {
    width: 90%;
    min-width: 0;
    padding-top: 2.5rem;
  }
}

@media (max-width: 450px) {
  .app {
    font-size: 1.2rem;
    position: relative;
  }

  .app.light {
    background-image: url('./images/bg-mobile-light.jpg');
    background-size: 100% 220px;
  }

  .app.dark {
    background-image: url('./images/bg-mobile-dark.jpg');
    background-size: 100% 220px;
  }
} 